.ptest{
    width: 100%;
    background-color: black;
    color: white;
    height: 80px;
}

.ptest mat-toolbar a{
    margin-top: 25px;
    margin-left: 20px;
}

.ptest mat-toolbar .material-icons{
    margin-top: 26px;
    margin-left: 10px;
}

.example-spacer {
    flex: 1 1 auto;
}