<!-- toolbar -->
<p class="ptest">
  <mat-toolbar color="primary">
    <a class="navbar-brand" routerLink="" style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: 20px;">Acceuil</a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button> -->

    <a class="navbar-brand" routerLink="/login" style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: 20px;">Login</a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button> -->

    <a class="navbar-brand" routerLink="/register" style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: 20px;">Sign Up</a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button> -->

    <span class="example-spacer"></span>
    <span class="material-icons">
      logout
      </span>
    <a class="navbar-brand" routerLink="" style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: 20px;">Déconnexion</a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button> -->
  </mat-toolbar>
</p>

